<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.springbootplus.mapper.RecordMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.example.springbootplus.entity.Record">
        <id column="id" property="id" />
        <result column="goods" property="goods" />
        <result column="userId" property="userid" />
        <result column="adminId" property="adminid" />
        <result column="count" property="count" />
        <result column="createtime" property="createtime" />
        <result column="remark" property="remark" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, goods, userId, adminId, count, createtime, remark
    </sql>
    <select id="pageC" resultType="com.example.springbootplus.entity.RecordRes">
        SELECT a.* ,b.`name` goodsname,c.`name` storagename,d.`name` goodstypename,
       (SELECT u.`name` FROM user u WHERE u.id=a.userid)username,
       (SELECT u.`name` FROM user u WHERE u.id=a.adminId)adminname
        FROM record a,goods b,`storage` c ,goodstype d
--         WHERE a.goods=b.id
--         AND b.`storage`=c.id AND b.goodstype=d.id
        ${ew.customSqlSegment}
    </select>

</mapper>
